* {
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
}

#main {

}

.logo h1, h2{
    font-family: 'Exo 2', sans-serif;
}

.logo {
    display: flex;
    align-items: baseline;
    background: #f6f5f5
}
.logo > *, .decription {
    margin-left: 20px;
}
.logo img {
    align-self: center;
    height: 60px;
}

.description {
    height: 3em;
    background: #3bb4c1;
    margin-top: 0;
    display: flex;
    padding-left: 20px;
    margin-bottom: 2em;
    padding-left: 6%;
}

.search {
    margin-left: 6%;
}

#image-container-wraper {
    display: flex;
    justify-content: center;
}

#image-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

.card {
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    background: #f6f5f5
}
.card-header {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header img {
    height: 120%;
}

.card-footer {
    margin: 5px;
}

.outer-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}
.inner-modal {
    /* width: 80%; */
    min-height: 60%;
    max-height: 90%;
    background: #048998;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.inner-modal > * {
    margin: 0.5rem;
}
.modal-header {

}
.modal-header img {
    max-height: 500px;
    width: auto;
}
.modal-meta {
    display: flex;
    align-items: center;
}
.modal-meta > * {
    padding: 5px;
    margin: 0;

}

.post-comment {
    display: flex;
}

.comment-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.comment-instance {
    background: #e9e4e6;
    border-radius: 5px;
    min-width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
.comment-instance > * {
    margin: 0;
}
