* {
    font-family: 'Varela Round', sans-serif;
}

*:focus {
    outline: 0;
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
}

body {
    /* background: url(../img/overlay_diagonal-80.png) repeat; */
}

.logo h1, h2{
    font-family: 'Exo 2', sans-serif;
}

.logo, .description {
    display: flex;
    align-items: baseline;
    background: #f6f5f5;
    padding-left: 20px;
}
.logo > * {
    margin-right: 20px;
}
.logo img {
    align-self: center;
    height: 60px;
}

.description {
    height: 3em;
    background: #3bb4c1;
    margin-top: 0;
    display: flex;
    margin-bottom: 2em;

}

.search {
    margin-left: 20px;
}

#box-upload {
    background: #e9e4e6;
    outline: 1px dashed black;
    outline-offset: -5px;
    min-height: 5rem;
    width: calc(100% - 40px);
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
#box-upload.box-upload-drag {
    background: #f6f5f5;
    outline-offset: -8px;
}
#box-upload label {
    padding: 5px;
    cursor: pointer;
}

#box-upload input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.files > * {
    font-size: 0.5em;
}
#box-uploading {
    background: #f6f5f5;
    outline: 1px dashed black;

    min-height: 5rem;
    width: calc(100% - 40px);
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    animation: 2s loading-line infinite;
    animation-timing-function: linear;
}

.meta-Form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input, textarea {
    border: none;
    border-radius: 2px;
    background: #f6f5f5;
    font-size: 1em;
    margin: 2px;
}
button {
    border: 2px #49beb7 solid;
    border-radius: 2px;
    background: none;
    font-size: 1em;
    margin: 2px;
}
button:hover {
    background: #f6f5f5;
}

#image-container-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 90%; */
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.pagination > *:hover {
    opacity: 0.7;
}

.card {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background: #f6f5f5;
    box-shadow: 0px 1px 2px 0px #085f63;
}
.card:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px 0px #085f63;
}

.card-header {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3bb4c1;
}

.card-header img {
    height: 120%;
}

.card-footer {
    margin: 5px;
}

.outer-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}
.inner-modal {
    /* width: 80%; */
    min-height: 60%;
    max-height: 100%;
    background: #048998;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 4px 5px 1px #085f63;
    overflow: scroll;
}
.inner-modal > * {
    margin: 0.5rem;
}
.modal-header {

}
.modal-header img {
    max-height: 60vh;
    max-width: 100%;
}
.modal-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-about  > * {
    padding: 5px;
    margin: 0;
}
.img-about {
    display: flex;
    align-items: center;
}

.deleteButton:hover {
    opacity: 0.7;
}

.post-comment {
    display: flex;
    flex-wrap: wrap;
}

.comment-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    background: #49beb7;
    border-radius: 1px;
}
.comment-instance {
    background: #e9e4e6;
    border-radius: 5px;
    min-width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
.comment-instance > * {
    margin: 0;
}
.comment-instance > p {
    font-size: 0.7em;
}

@keyframes loading-line {
    0% { outline-offset: -9px; }
    12% { outline-offset: -8px; }
    25% { outline-offset: -7px; }
    36% { outline-offset: -6px; }
    50% { outline-offset: -5px; }
    62% { outline-offset: -4px; }
    75% { outline-offset: -3px; }
    89% { outline-offset: -2px; }
    100% { outline-offset: -1px; }
}
